/*
pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px 
*/

@media screen and (min-width: 768px) and (max-width: 992px) { /* TABLET */

   /* -------------  NAV  ------------- */

.nav {
   flex-direction: row;
   justify-content: space-between;
   padding: 0 2.5rem;
}

.nav__h1 {
   font-size: 2rem;
}

.nav__ul {
   display: flex;
   gap: 2rem;
   font-size: 1.5rem;
   margin-right: 4rem;
}

/* -------------  PROFILE  ------------- */

.profileSection__imgContainer {
   position: absolute;
   width: 20rem;
   height: 30rem;
   top: 0;
   right: 0;
}

.profileSection__imgContainer img {
   position: relative;
   width: 20rem;
   margin-top: 8rem;
}

.profileSection__apresentacaoContainer {
   text-align: left;
   margin-left: 2.5rem;
}

.apresentacaoContainer__h2 {
   font-size: 3rem;
}

.linha_hr {
   width: 90%;
   margin: auto;
   border: 1px solid gray;
}

/* -------------  EXPERIENCES ------------- */

.experiencesSection {
   display: flex;
   flex-wrap: wrap;
   padding: 3rem 0;
   width: 90%;
   margin: auto;
}

.experiencesSection__experiencesContainer {
   font-size: 50px;
   width: 300px;
   margin: 20px 0;
   text-align: left;
}

.experiencesSection__experiencesContainer i {
   font-size: 35px;
}
/* -------------  PROJECTS  ------------- */

.projectsSection {
   font-size: 40px;
   display: flex;
   flex-wrap: wrap;
}

.projectsSection h2 {
   width: 100%;
}

.projectsSection__projectsContainer{
   width: 50%;
}

.projectsSection__projectsContainer p {
   font-size: 20px;
}

/* -------------  CONTACT  ------------- */

.contactSection__textContato h2 {
   font-size: 60px;
}

.containerForm__inputContainer{
   width: 75%;
   margin: auto;
}

.inputContainer__input {
   margin-bottom: 3rem;
}

/* -------------  FOOTER  ------------- */

.contactSection__footer {
   flex-direction: row;
   justify-content: space-between;
   padding: 0 2.5rem;
}

.footer__h1 {
   font-size: 2rem;
}

.footer__ul {
   display: flex;
   gap: 2rem;
   font-size: 1.5rem;
   margin-right: 4rem;
}

}

@media screen and (min-width: 992px) and (max-width: 1200px) {  /* DESKTOP */

      /* -------------  NAV  ------------- */

.nav {
   flex-direction: row;
   justify-content: space-between;
   padding: 0 5.5rem;
   width: 100%;
}

.nav__h1 {
   font-size: 1.5rem;
}

.nav__ul {
   display: flex;
   gap: 2rem;
   font-size: 1.5rem;
   margin-right: 4rem;
}

/* -------------  PROFILE  ------------- */

.profileSection {
   margin: 0 5rem;
}

.profileSection__imgContainer {
   position: absolute;
   width: 20rem;
   height: 30rem;
   top: 0;
   right: 5rem;
}

.profileSection__imgContainer img {
   position: relative;
   width: 20rem;
   margin-top: 9rem;
}

.profileSection__apresentacaoContainer {
   text-align: left;
   margin: 3rem 0;
}

.apresentacaoContainer__h2 {
   font-size: 4.2rem;
   line-height: 70px;
   margin-bottom: 3rem;
}

.apresentacaoContainer__sobreMim {
   letter-spacing: 1px;
}

.linha_hr {
   margin: auto;
   width: 85%;
   border: 1px solid gray;
}

/* -------------  EXPERIENCES ------------- */

.experiencesSection {
   display: flex;
   padding: 3rem 0;
   margin: 0 5.5rem;
   justify-content: center;
}

.experiencesSection__experiencesContainer {
   font-size: 40px;
   width: 220px;
   margin: 20px 0;
   text-align: center;
}

.experiencesSection__experiencesContainer i {
   font-size: 2rem;
}

/* -------------  PROJECTS  ------------- */

.projectsSection {
   display: flex;
   flex-wrap: wrap;
   margin: 3rem 5.5rem;
   font-size: 35px;
}

.projectsSection h2 {
   width: 100%;
}

.container_projetcs{
   width: 45%;
   margin: 20px 10px;
}

.projectsSection__projectsContaine img {
   width: 100%;
   border-radius: 1px;
}

.projectsSection__projectsContainer p {
   font-size: 25px;
}

.projectsSection__containerSpan span {
   margin-bottom: 5px;
}

.projectsSection a {
   margin: 0;
}

/* -------------  CONTACT  ------------- */

.contactSection {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
}

.contactSection__textContato {
   width: 40%;
   margin-left: 5.5rem;
   display: flex;
   flex-wrap: wrap;
}

.contactSection__textContato h2 {
   font-size: 55px;
   height: 20%;
   margin: 40px 0 0 0;
   padding: 15px 0;
}

.contactSection__textContato p {
   font-size: 15px;
   text-align: left;
   margin: 15px 0 0 0;
   height: min-content;
   padding-bottom: 200px;
}

.contactSection__containerForm {
   width: 40%;
   margin: 2.5rem 0 0 4rem;
}

/* -------------  FOOTER  ------------- */

.contactSection__footer {
   flex-direction: row;
   justify-content: space-between;
   padding: 0 5.5rem;
   width: 100%;
}

.footer__h1 {
   font-size: 1.5rem;
}

.footer__ul {
   display: flex;
   gap: 2rem;
   font-size: 1.5rem;
   margin-right: 4rem;
}

}

@media screen and (min-width: 1200px) {  /* GRANDES TELAS */
         /* -------------  NAV  ------------- */

.nav {
   flex-direction: row;
   justify-content: space-between;
   padding: 0 10rem;
   width: 100%;
}

.nav__h1 {
   font-size: 2rem;
}

.nav__ul {
   display: flex;
   gap: 2rem;
   font-size: 1.5rem;
   margin-right: 6rem;
}

/* -------------  PROFILE  ------------- */

.profileSection {
   margin: 0 10rem;
}

.profileSection__imgContainer {
   position: absolute;
   width: 20rem;
   height: 30rem;
   top: 0;
   right: 12rem;
}

.profileSection__imgContainer img {
   position: relative;
   width: 20rem;
   margin-top: 8rem;
}

.profileSection__apresentacaoContainer {
   text-align: left;
   margin: 2rem 0 ;
}

.apresentacaoContainer__h2 {
   font-size: 4.5em;
   line-height: 70px;
   margin-bottom: 3rem;
}

.apresentacaoContainer__sobreMim {
   font-size: 20px;
}

.linha_hr {
   margin: auto;
   width: 85%;
   border: 1px solid gray;
}

/* -------------  EXPERIENCES ------------- */

.experiencesSection {
   display: flex;
   justify-content: center;
   gap: 70px;

   margin: auto;
   padding: 3rem 0;
   width: 70%;
}

.experiencesSection__experiencesContainer {
   font-size: 50px;
   width: 250px;
   margin: 20px 0;
   text-align: center;
}

.experiencesSection__experiencesContainer i {
   font-size: 2rem;
}

/* -------------  PROJECTS  ------------- */

.projectsSection {
   display: flex;
   flex-wrap: wrap;
   margin: auto;
   width: 75%;
   font-size: 35px;
   padding: 50px 0;
}

.projectsSection h2 {
   width: 100%;
   margin-left: 2.5rem;
}

.projectsSection__projectsContainer{
   width: 45%;
   margin: auto;
   padding-top: 5rem;
}

.projectsSection__projectsContainer img {
   width: 100%;
   border-radius: 5px;
}

.projectsSection__projectsContainer p {
   font-size: 30px;
}

.projectsSection__containerSpan span {
   margin-bottom: 5px;
}

.projectsSection a {
   font-size: 20px;
}

/* -------------  CONTACT  ------------- */

.contactSection {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;

   justify-content: center;
}

.contactSection__textContato {
   display: flex;
   flex-wrap: wrap;
   width: max-content;
   width: 35%;
}

.contactSection__textContato h2 {
   font-size: 70px;
   height: 20%;
   margin: 40px 0 0 0;
   padding: 15px 0;
}

.contactSection__textContato p {
   font-size: 15px;
   text-align: left;
   margin: 15px 0 0 0;
   height: min-content;
   padding-bottom: 200px;
}

.contactSection__containerForm {
  width: 35%;
  margin-top: 2.5rem;
}

/* -------------  FOOTER ------------- */

.contactSection__footer {
   flex-direction: row;
   justify-content: space-between;
   padding: 0 10rem;
   width: 100%;
}

.footer__h1 {
   font-size: 2rem;
}

.footer__ul {
   display: flex;
   gap: 2rem;
   font-size: 1.5rem;
   margin-right: 6rem;
}

}